In [1]:
import dask.dataframe as dd
import pandas as pd
import pandas as pd

In [2]:
# Domestic Data Load
vaers_vax_data = dd.read_csv('dataset/*VAERSVAX.csv',  delimiter=',',encoding='ISO-8859-1')
vaers_vax_data.to_csv("dataset/testing.csv", single_file=True)
vaers_symptom_data = dd.read_csv('dataset/*VAERSSYMPTOMS.csv', delimiter=',',encoding='utf-8', dtype={'SYMPTOM5': 'object'})
vaers_data = dd.read_csv('dataset/*VAERSDATA.csv',  delimiter=',',encoding='ISO-8859-1',
       dtype={'ALLERGIES': 'object',
       'BIRTH_DEFECT': 'object',
       'CUR_ILL': 'object',
       'DATEDIED': 'object',
       'ER_ED_VISIT': 'object',
       'ER_VISIT': 'object',
       'HOSPITAL': 'object',
       'L_THREAT': 'object',
       'OFC_VISIT': 'object',
       'OTHER_MEDS': 'object',
       'RPT_DATE': 'object',
       'TODAYS_DATE': 'object',
       'X_STAY': 'object'})

# Non Domestic Data Load
vaers_vax_data_nondem = dd.read_csv('dataset/non_domestic/*VAERSVAX.csv', delimiter=',', encoding='ISO-8859-1', dtype={'VAX_SITE': 'object'})
vaers_symptom_data_nondem = dd.read_csv('dataset/non_domestic/*VAERSSYMPTOMS.csv', delimiter=',', encoding='utf-8', dtype={'SYMPTOM5': 'object'})
vaers_data_nondem = dd.read_csv('dataset/non_domestic/*VAERSDATA.csv', delimiter=',', encoding='ISO-8859-1',
                                dtype={'ALLERGIES': 'object',
       'BIRTH_DEFECT': 'object',
       'CUR_ILL': 'object',
       'DATEDIED': 'object',
       'ER_ED_VISIT': 'object',
       'L_THREAT': 'object',
       'OFC_VISIT': 'object',
       'TODAYS_DATE': 'object',
       'X_STAY': 'object'})

# Parsing data and Displaying the tails of the data

In [3]:
df = vaers_vax_data.compute()

In [4]:
print(df.shape)

(1938473, 8)

In [5]:
vaers_vax_data.tail()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
61782,2122786,COVID19,PFIZER\BIONTECH,FK9895,2,SYR,RA,COVID19 (COVID19 (PFIZER-BIONTECH))
61783,2122787,COVID19,PFIZER\BIONTECH,EN6205,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
61784,2122787,COVID19,PFIZER\BIONTECH,FE3590,2,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
61785,2122789,COVID19,JANSSEN,205A21A,1,UN,LA,COVID19 (COVID19 (JANSSEN))
61786,2122791,COVID19,JANSSEN,NaN,UNK,NaN,NaN,COVID19 (COVID19 (JANSSEN))

In [6]:
vaers_symptom_data.tail()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
77288,2122789,Blood test,24.1,Chorea,24.1,Drug screen,24.1,Fibromyalgia,24.1,Loss of personal independence in daily activities,24.1
77289,2122789,Magnetic resonance imaging,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77290,2122791,Abdominal pain upper,24.1,Abnormal faeces,24.1,Blood iron decreased,24.1,Differential white blood cell count,24.1,Dyspepsia,24.1
77291,2122791,Full blood count,24.1,Gastrointestinal inflammation,24.1,Iron binding capacity total,24.1,Ovulation pain,24.1,Pain,24.1
77292,2122791,Platelet count,24.1,Serum ferritin,24.1,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
vaers_data.tail()

/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
54791,2122785,02/18/2022,FL,67.0,67.0,NaN,F,NaN,"Site: Pain at Injection Site-Severe, Site: Swe...",NaN,...,NaN,NaN,NaN,NaN,2,02/18/2022,NaN,Y,NaN,NaN
54792,2122786,02/18/2022,NH,25.0,25.0,NaN,F,NaN,"Rash on both feet, more noticable on left foot...",NaN,...,NaN,NaN,NaN,NaN,2,02/18/2022,NaN,NaN,NaN,NaN
54793,2122787,02/18/2022,KY,83.0,83.0,NaN,M,NaN,"developed fever and become short of breath, ad...",NaN,...,NaN,CLL - in remission,NaN,NaN,2,02/18/2022,NaN,NaN,NaN,NaN
54794,2122789,02/18/2022,MO,41.0,41.0,NaN,F,NaN,Chorea beginning approximately 2 months after ...,NaN,...,NaN,NaN,NaN,NaN,2,02/18/2022,NaN,NaN,NaN,NaN
54795,2122791,02/18/2022,WA,28.0,28.0,NaN,F,NaN,-low Iron levels -constant heart burn -actual ...,NaN,...,none,none,NaN,NaN,2,02/18/2022,NaN,Y,NaN,NaN

In [8]:
vaers_vax_data_nondem.tail()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
533776,2122690,COVID19,JANSSEN,NaN,1,OT,NaN,COVID19 (COVID19 (JANSSEN))
533777,2122697,COVID19,JANSSEN,NaN,1,OT,NaN,COVID19 (COVID19 (JANSSEN))
533778,2122707,COVID19,JANSSEN,ACB3331,1,OT,NaN,COVID19 (COVID19 (JANSSEN))
533779,2122708,COVID19,JANSSEN,ACB6894,1,OT,NaN,COVID19 (COVID19 (JANSSEN))
533780,2122709,COVID19,JANSSEN,ACB3221,1,NaN,NaN,COVID19 (COVID19 (JANSSEN))

In [9]:
vaers_symptom_data_nondem.tail()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
734685,2122690,Disease recurrence,24.1,Rheumatoid arthritis,24.1,NaN,NaN,NaN,NaN,NaN,NaN
734686,2122697,Dyspnoea,24.1,Fatigue,24.1,Syncope,24.1,NaN,NaN,NaN,NaN
734687,2122707,COVID-19,24.1,SARS-CoV-2 test,24.1,NaN,NaN,NaN,NaN,NaN,NaN
734688,2122708,Loss of consciousness,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734689,2122709,Syncope,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
vaers_data_nondem.tail()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
26891,2122690,02/18/2022,FR,NaN,NaN,NaN,F,NaN,DISEASE RECURRENCE; RHEUMATOID ARTHRITIS; This...,NaN,...,Arthritis rheumatoid,Comments: Unknown,NaN,FRJNJFOC20220240313,2,02/18/2022,NaN,NaN,NaN,NaN
26892,2122697,02/18/2022,FR,NaN,NaN,NaN,M,NaN,FATIGUE; DYSPNEA; FAINT; This spontaneous repo...,NaN,...,NaN,NaN,NaN,GRJNJFOC20220240209,2,02/18/2022,NaN,NaN,NaN,NaN
26893,2122707,02/18/2022,FR,83.0,83.0,NaN,F,NaN,COVID-19; This spontaneous report received fro...,Y,...,NaN,NaN,NaN,PHJNJFOC20220240268,2,02/18/2022,NaN,NaN,NaN,NaN
26894,2122708,02/18/2022,FR,NaN,NaN,NaN,F,NaN,LOSS OF CONSCIOUSNESS; This spontaneous report...,NaN,...,NaN,NaN,NaN,PHJNJFOC20220240437,2,02/18/2022,NaN,NaN,NaN,NaN
26895,2122709,02/18/2022,FR,33.0,NaN,NaN,M,NaN,VASOVAGAL SYNCOPE; This spontaneous report rec...,NaN,...,NaN,NaN,NaN,PHJNJFOC20220240704,2,02/18/2022,NaN,NaN,NaN,NaN

# Computing Number of Deaths For Each Vaccine Manufacturer (Domestic)

In [11]:
# Get the set of all VAX_NAMES
vaccines = vaers_vax_data['VAX_NAME'].unique()
vaccines = vaccines.to_frame()

In [12]:
vaccines.tail()

                                VAX_NAME
229                TDAP + IPV (DOMESTIC)
230          DTAP+IPV+HIB+HEPB (VAXELIS)
231  MENINGOCOCCAL CONJUGATE (MENQUADFI)
232                HEPBC (NO BRAND NAME)
233                   PNEUMO (PREVNAR20)

In [13]:
vaccine_deaths = vaers_data.dropna(subset=['DIED'])
vaccine_deaths = vaccine_deaths[['VAERS_ID', 'SEX' , 'AGE_YRS', 'DIED', 'VAX_DATE', 'ONSET_DATE','DATEDIED', 'NUMDAYS']]

In [14]:
vaccine_deaths.tail()

/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

       VAERS_ID SEX  AGE_YRS DIED    VAX_DATE  ONSET_DATE    DATEDIED  NUMDAYS
54544   2122490   M      NaN    Y         NaN         NaN  04/01/2021      NaN
54549   2122495   M      NaN    Y         NaN         NaN         NaN      NaN
54554   2122500   M      NaN    Y         NaN         NaN         NaN      NaN
54560   2122506   F     68.0    Y  03/23/2021  03/23/2021  03/24/2021      0.0
54723   2122716   F      NaN    Y         NaN  11/01/2021         NaN      NaN

In [15]:
vaccine_deaths = vaccine_deaths.merge(vaers_vax_data, on=['VAERS_ID'], how='inner')

In [16]:
vaccine_deaths.to_csv('dataset/vaccine_deaths_extracted.csv', single_file=True)

/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (9,16,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (9,16,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/Users/mcruz/Documents/Programming/CSC-490/Project_2/venv/lib/python3.9/site-packages/dask/dataframe/io/csv.py:181: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

['/Users/mcruz/Documents/Programming/CSC-490/Project_2/dataset/vaccine_deaths_extracted.csv']